<div id="<%= dom_id department %>">
  <p>
    <strong>Number:</strong>
    <%= department.number %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= department.price %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= department.type_id %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= department.building_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= department.status_id %>
  </p>

  <p>
    <strong>Modality:</strong>
    <%= department.modality_id %>
  </p>

</div>
